  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-fw fa-cog"></i>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag "hgv_logo.png"%></a>
  </div>
