<div class="box box-warning sortable">
      <div class="box-header" style="cursor: move;">
        <!-- tools box -->
        <div class="box-tools pull-right">
          <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa fa-refresh"></i></button>
          <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-default btn-tn" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /. tools -->

        <i class="fa  fa-dashboard"></i>
        <div id="snap-box-icon" class="snapshot-box-icon"></div>
          <h3 class="box-title">
            POWER USAGE NOW
          </h3>

        </div>
      <!-- box-body -->
      <div class="box-body no-padding row-fluid row" style="height:190px;" >

        <div google-chart chart="power_usage" style="height:180px;padding-left: 50px;" class="col-md-4"></div>
        <div google-chart chart="solar_power" style="height:180px;padding-left: 30px;" class="col-md-4"></div>
        <div google-chart chart="utility_power_gauge" style="height:180px;" class="col-md-4"></div>

      </div><!-- /.box-body-->
      <div class="box-body no-padding row-fluid row" style="height:75px;" >

        <div  style="padding-left: 50px;" class="col-md-4"><p class="mediumBold span12 noGaps " >Power Usage</p></div>
        <div  style="padding-left: 50px;" class="col-md-4"><p class="mediumBold span12 noGaps " >Solar Power</p></div>
        <div  style="padding-left: 40px;" class="col-md-4"><p class="mediumBold span12 noGaps " >Utility Power</p></div>

      </div><!-- /.box-body-->

    </div>