<div class="box box-warning sortable">
  <div class="box-header" style="cursor: move;">
    <!-- tools box -->
    <div class="pull-right box-tools">                                        
      <button class="btn btn-default btn-tn refresh-btn" data-toggle="tooltip" title="" data-original-title="Reload"><i class="fa fa-refresh"></i></button>
      <button class="btn btn-default btn-tn" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default btn-tn" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->

    <i class="fa fa-usd"></i>
    <h3 class="box-title">
      What's my Cost

    </h3>
  </div>
  <!-- box-body -->
  <div class="box-body no-padding row-fluid">

    <div class="span12  homeWidgetsPadding" style="margin-left:0">
      <div class="span12 bottomBorder grayBorder spanContent">
        <div class="span7">
          <p id="costModulePredictedCost" class="extraBold green1 span12 noGaps" style="margin-top:20px">$135.35</p>
          <p class="tinyBold">PREDICTED THIS MONTH</p>
        </div>
        <div class="span5" style="padding: 10px 5px 5px 20px;">

          <img alt="Money Bag" width="90" height="90" src="/assets/money_bag.png" style="margin-top:10px;padding-bottom:9px">

        </div>
      </div>
      <div class="span12 spanContent" style="margin-left:0">
        <div class="span6">
          <p class="mediumBold span12 noGaps">$0.85</p>
          <p class="tinyBold noGaps">SO FAR TODAY</p>
        </div>
        <div class="span6 leftBoder grayBorder" style="padding-left:10px">
          <p class="mediumBold span12 noGaps">$6.1</p>
          <p class="tinyBold noGaps">PREDICTED TODAY</p>
        </div>

      </div>
    </div>


  </div><!-- /.box-body-->
  <div class="box-footer">
    <p class="span10 snapShotFooter green2" style="margin-left:5px"><i class="fa fa-arrow-down"></i> LIKELY TO SPEND $6.39 LESS THAN LAST MONTH</p>
  </div> 
</div>