<div class="box box-warning sortable">
  <div class="box-header" style="cursor: move;">
    <!-- tools box -->
    <div class="box-tools pull-right">
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa fa-refresh"></i></button>
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default btn-tn" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->

    <i class="fa  fa-dashboard"></i>
    <div id="snap-box-icon" class="snapshot-box-icon"></div>
    <h3 class="box-title">
      Site Demand 
    </h3>
  </div>
  <!-- box-body -->
  <div class="box-body no-padding row-fluid row">
    <div google-chart chart="current_demand" style="height:220px;" class="col-sm-4"></div>
    <div google-chart chart="top_demand_gauge" style="height:220px;" class="col-sm-4"></div>
    <div google-chart chart="total_demand" style="height:220px;" class="col-sm-4"></div>
  </div><!-- /.box-body-->
  <div class="box-body no-padding row-fluid row" style="height:75px;" >

    <div  style="padding-left: 20px;" class="col-sm-4"><p class="mediumBold span12 noGaps " >Current Demand</p></div>
    <div  style="padding-left: 20px;" class="col-sm-4"><p class="mediumBold span12 noGaps " >Top Demand</p></div>
    <div  style="padding-left: 15px;" class="col-sm-4"><p class="mediumBold span12 noGaps " >Total Demand</p></div>

  </div><!-- /.box-body-->
  <div class="box-footer">
    <p class="span10 snapShotFooter red" style="margin-left:5px"><i class="fa fa-arrow-up"></i>LIKELY TO USE 26KW ABOVE YESTERDAY</p>
  </div> 
</div>