<div class="box box-warning sortable">
  <div class="box-header" style="cursor: move;">          
    <div class="box-tools pull-right">
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa fa-refresh"></i></button>
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default btn-tn" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
    <i class="fa  fa-dashboard"></i>
    <div id="snap-box-icon" class="snapshot-box-icon"></div>
    <h3 class="box-title">
      Solar Power
    </h3>
  </div>
  <!-- box-body -->
  <div class="box-body no-padding row-fluid">
    <div google-chart chart="solarPower" style="height:180px; width:100%;"></div>
    
  </div><!-- /.box-body-->
</div>