<div class="box box-warning sortable">
  <div class="box-header" style="cursor: move;">
    <!-- tools box -->
    <div class="box-tools pull-right">
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa fa-refresh"></i></button>
      <button class="btn btn-default btn-tn" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default btn-tn" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->

    <i class="fa fa-usd"></i>
    <div id="snap-box-icon" class="snapshot-box-icon"></div>
    <h3 class="box-title">
      Projected Costs vs Previous Period
    </h3>

  </div>

  <!-- box-body -->
  <div class="box-body no-padding row-fluid">
    <div style="margin:30px 50px 30px 40px">
      <div id="cost-chart" style="height: 100px;"></div>
      <div>

      </div><!-- /.box-body-->
    </div>
    <!-- /.box -->
  </div>
</div>